version: "3.9"
services:
    db:
        image: postgres
        environment:
            - POSTGRES_DB=$POSTGRES_DB
            - POSTGRES_USER=$POSTGRES_USER
            - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
        env_file:
            - ./.env
    web:
        build: .
        command: python manage.py app/runserver 0.0.0.0:8000
        env_file:
            - ./.env
        ports:
            - "8000:8000"
        depends_on:
            - db