[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"
black = "*"
pylint = "*"
pipenv-to-requirements = "*"

[packages]
django = "*"
importlib-metadata = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
