POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

DJANGO_SECRET_KEY=super-secret-password
DJANGO_ALLOWED_HOSTS=0.0.0.0 localhost 127.0.0.1
DJANGO_ALLOWED_ORIGINS=http://127.0.0.1
DJANGO_DEBUG=True
DJANGO_PORT=8000